h1 {
  text-shadow: 2px 2px #000;
}

h2 {
  text-shadow: 2px 2px #000;
}

h3 {
  text-shadow: 2px 2px #000;
}

h4 {
  text-shadow: 2px 2px #000;
}

h5 {
  text-shadow: 2px 2px #000;
}

b {
  text-shadow: 2px 2px #000;
}

p {
  text-shadow: 2px 2px #000;
}
