@import url('https://fonts.googlepis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: 222;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 2rem;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-linkedin{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}

.img1 {
  border-radius: 50%;
  width: 50%;
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}


@media (max-width: 992px){
.social a {
  font-size: 4em;
  padding: 2rem;
}
}
@media (max-width: 768px){
  .display-4 {
    font-size: 200%;
  }
.social a {
  font-size: 2.5em;
  padding: 1.2rem;
}
}
@media (max-width: 576px){
  .display-4 {
    font-size: 160%;
  }
.social a {
  font-size: 2em;
  padding: .7rem;
}
}
.element {

  height: 100px;
  width: 100px;
  animation: 
  pulse 3s ease infinite alternate, 
  nudge 5s linear infinite alternate;
border-radius: 100%;
 
}
@keyframes pulse {
  0%, 100% {
    background-color: blue;
  }
  50% {
    background-color: aqua;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(0, 150px);
  }
  
  80% {
    transform: translate(10px, 0px);
  }
}

